.Header {
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 64px;
}

@media (max-width: 768px) {
  .Header {
    padding: 0px 32px;
    width: calc(100vw - 64px);
  }
}

@media (min-width: 769px) and (max-width: 1536px) {
  .Header {
    padding: 0px 64px;
    width: calc(100vw - 128px);
  }
}

@media (min-width: 1537px) {
  .Header {
    padding: 0px calc(64px + (100vw - 1537px) / 2);
    width: calc(100vw - (128px + (100vw - 1537px)));
  }
}
