* {
  padding: 0px;
  margin: 0px;
  color: black;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100dvh;
  width: 100dvw;
  overflow-x: hidden;
  overflow-y: auto;
}
